*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    height: 100vh;
    display: grid;
    grid-template-columns: 180px  1fr;
    grid-template-rows: 220px 1fr;
    grid-template-areas: 
    'haeder header'
    'sidebar content';
}

.header{
    grid-area: header;
    background-color: #fff;
}

.sidebar{
    grid-area: sidebar;
    background-color: brown;
}

.content{
    grid-area: content;
    background-color: skyblue;
}